@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

/* ---------------------common-style---------------------- */

:root {
    --primary-color: #0eb582;
    --bg-hover: #1aaa7a;
    --p-color: gray;
    --black: #444;
    --white: #fff;
}

.icon {
    color: var(--primary-color);
    font-size: 45px;
    margin-bottom: 8px;
}

/* ------------offcanvas----------- */

.nav-trigger {
    position: fixed;
    z-index: 4;
    top: 20px;
    right: 120px;
    height: 44px;
    width: 44px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
}

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
    position: absolute;
    height: 4px;
    width: 36px;
    background: #050505;
}

.nav-trigger span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background .3s;
}

.nav-trigger span::before,
.nav-trigger span::after {
    content: '';
    top: 0;
    left: 0;
    transition: background .3s, transform .3s;
}

.nav-trigger span::before {
    transform: translateY(-12px);
}

.nav-trigger span::after {
    transform: translateY(12px);
}

.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
    background: rgb(17, 141, 104);
}

.nav-open .nav-trigger span {
    background: transparent;
}

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
    background: rgb(17, 141, 104);
}

.nav-open .nav-trigger span::before {
    transform: rotate(-45deg);
}

.nav-open .nav-trigger span::after {
    transform: rotate(45deg);
}

.nav-container {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    max-width: 760px;
    padding: 2em 3.5em;
    background: #0000008c;
    overflow: auto;
    transform: translateZ(0);
    transform: translateX(100%);
    transition: transform .5s cubic-bezier(.07, .23, .34, 1);
}

.nav-open .nav-container {
    transform: translateX(0);
}


@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* -----------------------sign-in and signup form------------------- */
input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 565px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
}

.form {
    position: relative;
    width: 330px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 305px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    transform: translate3d(-310px, 0, 0);
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}

.img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    transform: translateX(520px);
}

.img__text.m--in {
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}

.img__btn span.m--in {
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}

.icon-link img {
    width: 100%;
    vertical-align: top;
}

.icon-link--twitter {
    left: auto;
    right: 5px;
}

/* ----------------------------------------------------------------- */

/* -----------------navbar-section--------------- */
.nav-search ul li {
    margin-right: 10px;
}

.nav-search ul li a {
    font-weight: bold;
}

.nav-search ul li a:hover {
    color: var(--primary-color) !important;
}

/* ---------------slide-section----------------- */
.hero-slide {
    margin-top: 80px;
}

.btn {
    background-color: var(--primary-color) !important;
    border: none;
    width: 120px;
}

.btn:hover {
    background-color: var(--bg-hover) !important;
}

/* --------------top-course-section-------------- */
.box4-home {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box4-home:before {
    width: 0;
    height: 200%;
    position: absolute;
    top: 0;
    left: -250px;
    bottom: 0;
    transform: skewX(-36deg);
    transition: all .5s ease 0s;
}

.box4-home:hover:before {
    width: 200%;
}

.box4-home img {
    width: 100%;
    height: auto;
}

.box4-home .box-content {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all .3s ease 0s;
    background-color: #0eb58391;
}

.box4-home .icon,
.box5 .icon {
    list-style: none;
    padding: 0;
}

.box4-home:hover .box-content {
    transform: scale(1);
}

.box4-home .title {
    font-size: 22px;
    font-weight: 700;
    color: var(--white);
    margin: 0 0 10px;
}

.box4-home .post {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 20px;
}

.box4-home .icon {
    margin: 0;
}

.box4-home .icon li {
    display: inline-block;
}

.box4-home .icon li a i {
    color: var(--white);
    font-size: 30px;
}

.box4-home .icon li a {
    display: block;
    width: 30px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 10px;
    transition: all .3s ease 0s;
}

/* ---------------footer-section---------------- */
footer {
    background-color: rgba(135, 235, 173, 0.233);
    padding: 50px 0;
}

footer p {
    color: var(--p-color);
}

.media-icon ul {
    padding: 0;
    display: flex;
}

.media-icon ul li {
    list-style: none;
    margin-right: 10px;
}

.media-icon a {
    text-decoration: none;
    color: var(--p-color);
    transition: .5s;
}

.media-icon a:hover {
    color: var(--black);
}

.media-icon i {
    font-size: 35px;
    color: var(--primary-color);
    transition: .5s;
}

.media-icon i:hover {
    color: var(--black);
}

.footer-links {
    margin-top: 45px;
}

.footer-links ul {
    margin-top: 22px;
    padding: 0;
}

.footer-links ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--p-color);
    transition: .5s;
}

.footer-links ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--bg-hover);
}

.footer-links input[type=email] {
    width: 230px;
    padding: 10px 5px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--p-color);
    outline: none;
}

/* ----------------------------------------
   ------------About-Section---------------
-------------------------------------------*/
.all-page-section {
    background: url(../images/heading-bg.jpg) no-repeat center center fixed;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.all-page-section nav {
    margin-left: 30px;
}

/* ---------------------about-content-section------------------- */


.card img {
    margin: 0 auto;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

/* --------------------expert-teacher-section-------------------- */
.box4-course {
    position: relative;
}

.box4-course:before {
    width: 0;
    height: 200%;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: -250px;
    bottom: 0;
    transform: skewX(-36deg);
    transition: all .5s ease 0s;
}

.box4-course:hover:before {
    width: 200%;
}

.box4-course img {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
}

.box4-course .box-content {
    width: 90%;
    height: 100%;
    padding-top: 20%;
    position: absolute;
    top: 0;
    left: 10px;
    transform: scale(0);
    transition: all .3s ease 0s;
    background-color: #0eb5835b;
}

.box4-course .icon,
.box5 .icon {
    list-style: none;
    padding: 0;
}

.box4-course:hover .box-content {
    transform: scale(1);
}

.box4-course .title {
    font-size: 22px;
    font-weight: 700;
    color: var(--white);
    margin: 0 0 10px;
}

.box4-course .post {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 20px;
}

.box4-course .icon {
    margin: 0;
}

.box4-course .icon li {
    display: inline-block;
}

.box4-course .icon li a i {
    color: var(--white);
    font-size: 32px;
}

.box4-course .icon li a {
    display: block;
    width: 30px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 10px;
    transition: all .3s ease 0s;
}


/* ---------------------our-satisfied-stutent section--------------------- */

.blog_post {
    position: relative;
    padding: 70px 20px 30px 20px;
    background: #fff;
    max-width: 400px;
    border-radius: 10px;
    top: 0;
    left: 0px;
    transform: translate(-0%, -0%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.img_pod {
    height: 80px;
    width: 80px;
    background: linear-gradient(90deg, #66ffa6, #27c583);
    z-index: -1;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -40px;
    top: 10px;
    transform: translateY(-50%);
}

.img_pod img {
    height: 70px;
    width: 70px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.container_copy h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

.container_copy h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}

.container_copy p {
    margin-bottom: 30px;
    color: var(--p-color);
}

.btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #66ffa6, #27c583);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    transition: all .2s ease-in;
    text-decoration: none;
}

.btn_primary:hover {
    box-shadow: 0px 5px 1rem rgba(5, 155, 80, 0.5);
}

.fa-star {
    color: gray;
}

.fillup {
    color: var(--primary-color);
}

/* ----------------------------------------
   ------------Courses-Section---------------
-------------------------------------------*/
.page-course {
    height: 200px;
}

.page-course nav {
    margin-left: 15px;
}

.course-name {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.479);
    border: 1px solid rgba(30, 148, 89, 0.479);
    box-shadow: rgba(31, 201, 121, 0.74) 0px 5px 15px;
}

.course-name h5 {
    font-size: 15px;
    padding: 5px 5px 0px 5px;
}

.course-details a {
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    background-color: rgba(30, 148, 89, 0.185);
    border: 1px solid rgba(30, 148, 89, 0.479);
    transition: .5s;
}

.course-details a:hover {
    color: #fff;
    background-color: rgba(30, 148, 89, 0.705);
}

.course-info i {
    color: var(--primary-color);
    margin-right: 2px;
}


/* -----------------------------------------
--------------contact-page------------------
-------------------------------------------- */
.contact-cell {
    border: 2px solid var(--primary-color);
    padding-top: 20px;
}








/* ------------media query for mobile------------ */
@media screen and (max-width: 668px) {
    .hero-slide {
        margin-top: 125px;
    }

    .head-navbar {
        text-align: center;
    }

    .top-course {
        height: 100vh;
    }

    .product {
        top: 0;
        left: 0px;
        width: 310px;
    }

    .product1 {
        top: 45%;
        left: 0;
        width: 310px;
    }

    .product2 {
        top: 170%;
        left: -40px;
        width: 310px;
    }

    footer {
        padding-left: 20px;
    }

    .footer-links input[type=email] {
        width: 100%;
    }

    /* about-section */
    .box4-home:before {
        left: -400px;
    }

    .box4-home:hover:before {
        width: 300%;
    }

    /* about-page */
    .about-section nav {
        margin-left: 6px;
    }

    /* course-page */
    .page-course nav {
        margin-left: -10px;
    }

    .all-page-section nav {
        margin-left: 0px;
    }

    /* offcanvas */

    .nav-trigger {
        position: fixed;
        z-index: 4;
        top: 56px;
        right: 20px;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .navbar {
        float: right;
    }

    .logo img {
        margin-top: 20px;
    }

    .course {
        height: 85vh;
    }

    .product2 {
        top: 22%;
        left: -20px;
    }

    /* about-page */
    .box4-home {
        margin-bottom: 30px;
    }

    /* course-page */
    .page-course {
        height: 10vh;
    }

    .page-course nav {
        margin-left: 5px;
    }
}

@media (min-width: 992px) and (max-width:1400px) {
    .container {
        width: 100%;
    }

    .product {
        left: -40px;
    }

    .product1 {
        left: -30px;
    }

    .product2 {
        left: -30px;
    }
}