@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0eb582;
    --black: #444;
    --white: #fff;
}

/* -----------------navbar-section--------------- */
.nav-search ul li {
    margin-right: 10px;
}

.nav-search ul li a {
    font-weight: bold;
}

.nav-search ul li a:hover {
    color: var(--primary-color) !important;
}

/* ---------------slide-section----------------- */
.btn {
    background-color: var(--primary-color) !important;
    border: none;
}