@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0eb582;
    --bg-hover: #1aaa7a;
    --p-color: gray;
    --black: #444;
    --white: #fff;
}

/* -----------------navbar-section--------------- */
.nav-search ul li {
    margin-right: 10px;
}

.nav-search ul li a {
    font-weight: bold;
}

.nav-search ul li a:hover {
    color: var(--primary-color) !important;
}

/* ---------------slide-section----------------- */
.hero-slide {
    margin-top: 80px;
}

.btn {
    background-color: var(--primary-color) !important;
    border: none;
    width: 120px;
}

.btn:hover {
    background-color: var(--bg-hover) !important;
}

/* --------------top-course-section-------------- */
.top-course {
    height: 70vh;
}

.my-course {
    position: relative;
}

.product {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 0%);
    width: 300px;
    height: 400px;
    background-color: rgba(135, 235, 173, 0.233);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    overflow: hidden
}

.product1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(12%, 0%);
    width: 300px;
    height: 400px;
    background-color: rgba(135, 235, 173, 0.233);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    overflow: hidden
}

.product2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(17%, 0%);
    width: 300px;
    height: 400px;
    background-color: rgba(135, 235, 173, 0.233);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    overflow: hidden
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product1 .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product2 .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.product1 .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.product2 .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.specifies {
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: -200px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    transition: .5s
}

.product:hover .specifies {
    bottom: 0
}

.product1:hover .specifies {
    bottom: 0
}

.product2:hover .specifies {
    bottom: 0
}

.specifies h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color);
    width: 100%
}

.specifies .btn {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 10px 0 0;
    width: 100%;
    font-size: 13px;
    border-radius: 2px
}

/* ---------------footer-section---------------- */
footer {
    background-color: rgba(135, 235, 173, 0.233);
    padding: 50px 0;
}

footer p {
    color: var(--p-color);
}

.media-icon ul {
    padding: 0;
    display: flex;
}

.media-icon ul li {
    list-style: none;
    margin-right: 10px;
}

.media-icon a {
    text-decoration: none;
    color: var(--p-color);
    transition: .5s;
}

.media-icon a:hover {
    color: var(--black);
}

.media-icon i {
    font-size: 35px;
    color: var(--primary-color);
    transition: .5s;
}

.media-icon i:hover {
    color: var(--black);
}

.footer-links {
    margin-top: 45px;
}

.footer-links ul {
    margin-top: 22px;
    padding: 0;
}

.footer-links ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--p-color);
    transition: .5s;
}

.footer-links ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--bg-hover);
}

.footer-links input[type=email] {
    width: 230px;
    padding: 10px 5px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--p-color);
    outline: none;
}



/* media query for mobile */
@media screen and (max-width: 668px) {
    .hero-slide {
        margin-top: 125px;
    }

    .head-navbar {
        text-align: center;
    }

    .top-course {
        height: 100vh;
    }

    .product {
        top: 0;
        left: -20px;
        width: 310px;
    }

    .product1 {
        top: 85%;
        left: -25px;
        width: 310px;
    }

    .product2 {
        top: 170%;
        left: -40px;
        width: 310px;
    }

    footer {
        padding-left: 20px;
        margin-top: 180%;
    }

    .footer-links input[type=email] {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .navbar {
        float: right;
    }

    .logo img {
        margin-top: 20px;
    }

    .course {
        height: 85vh;
    }

    .product2 {
        top: 10%;
        left: -20px;
    }
}